/*...........LOGIN PAGE.......*/

.container{
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('bg9.webp');
    background-size: cover;
    background-repeat: no-repeat;
    /*animation: example 15s ease infinite;*/
    
}
.form{
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background-color: white;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;

}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height:45px;
    width:100%;
    margin-top:20px;
    border-radius: 6px;
}
.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;

}
.field button:hover{
    background-color: #016dcb;
}
.field input:focus{
    border-bottom-width: 2px;
}
.field input,.field button{
    height: 100%;
    width: 95%;
    border:none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    border:1px solid #CACACA;
    padding: 0 15px;
    outline: none;
    
}
.field button{
    width:102.5%;
}
/*.forms.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show.signup .forms.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show.signup .forms.login{
    opacity: 1;
    pointer-events: auto;
}*/

.eye-icon{
    position: absolute;
    font-size: 18px;
    color:#8b8b8b;
    top:50%;
    right:10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,.form-link a{
    font-size: 14px;
    font-weight: 400;
    color:#232836;
}
.form a{
    color:#0171d3;
    text-decoration: none;
    cursor: pointer;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    height:1px;
    position: relative;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    color:#232836;
    padding: 0 15px;
}
.media-option a{
    display: flex;
    align-items: center;
    justify-content: center;

}
a.facebook{
    color: #fff;
    background-color: #4267b2;
    width:102.5%;
}
a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color:#0171d3;
    background-color: #fff;
    display: flex;
    font-size: 20px;
    align-items: center;
    border-radius:50% ;
    justify-content: center;

}
.facebook-icon,
img.google-img{
    position: absolute;
    top:50%;
    left:15px;
    transform: translateY(-50%);
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google{
    border:1px solid #CACACA
}
a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
} 


/*...........media query.....*/
@media screen and (max-width:400px){
    .form{
        padding: 15px 10px;
    }
}