*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*@keyframes example{
    0%{}
    20%{background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('bg3.jpg');}
    40%{background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('bg4.jpg');}
    60%{background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('bg9.webp');}
    80%{background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('bg8.jpg');}
    100%{background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('bg7.webp');}
    
}
.first-page{
    background:url("bg7.webp");
    height:100vh;
    width:100%;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    position:relative;

   /*animation: example 15s ease infinite;
    filter:blur(5px);
    -webkit-filter: blur(5px);
}

.main-box{
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-110%, -50%);
    z-index: 2;
    width: 35%;
    padding: 20px;
    text-align: center;
}*/
@font-face{
    font-family: 'hello';
    src:url('HIROMISAKE.ttf');
}
#navbar{
    z-index: 1;
    position: absolute;
    top:0;
    height: 80px;
    position: fixed;
    width: 100%;
    align-items: center;
    transition: background-color 0.4s ease-out;
}
/*nav.scroll{
    box-shadow: 0px 4px 7px #777;
    background-color: #A1572F;
    color:#eef;
}*/
.bgcolor{
    box-shadow: 0px 4px 7px #777;
    background-color:rgba(255, 255, 255, 0.995);
}
.placeholder-glow{
    opacity:1;
}
#navbar .trip{
    font-family: 'hello';
}
#navbarSupportedContent{
    justify-content: end;
}
.navbar-nav{
    justify-content: space-between;
    width:75%;
}
.navbar-nav button a{
    text-decoration: none;
    color:rgb(43, 35, 35)
}
 input[type="search"]{
    background: rgb(23, 18, 18);  
    border-radius: 20px;
    border: rgb(26, 23, 23); 
}
.navbar-nav .Buttons .btn{
    background-color: #d8d8d8;
}
.input-group .btn{
    height: 100%;
    border:  solid rgb(26, 23, 23);
    border-radius: 20PX;
    background-color: rgb(26, 23, 23);
    color: white;
    transition: 0.5s ease-in-out;
}
.Buttons{
    opacity: 0;
    transition: 0.5s ease-in-out;
    z-index: 1;
    position: relative  ;
}
.searchBar{
    opacity: 0;
    transition: 0.5s ease-in-out;
}
/*js class*/
.visible{
    padding: 5px;
    opacity: 1;
    transition: 0.5s ease-in-out;
    z-index: 1;
    position: relative;
}
.iti_plan1 h1{
    font-size: 55px;
}
.date-icon{
    color:rgb(46, 30, 33);
    cursor: pointer;
    transform: translate(-160%,30%);
}
.first-page{
    position: relative;
    background-size: auto;
    background-position: 100%;
    background:url('bg7.webp');;
    background-size: cover;  
}
.first-page .container-fluid .row{
    justify-content: center;
    align-items: center;
}
.main-box{
    background: rgba(0,0,0,.4);
    border-radius: 10px;
}
/*.....second-page......*/
.title{
    width: 100%;
    height:30vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container .row .col img{
    height: 100px;
    width: 100px;
}
.second-page .container .row .col:hover{
    box-shadow: 5px 10px 10px  rgb(211, 247, 233);
    border-radius: 20px;
    transition: all .5s ease-in-out;  
}
/*...third page...*/

.third-page .pay1{
    border-radius: 20px;
}
@media only screen and (max-width:600px){
    .third-page .container .row .col-md-6{
        width: 100%;
        flex-direction: row;
    }
}
/*.........forth-page.............*/

.forth-page .tripfri{
    border-radius: 20px;
}

/*.....fifth-page....*/




/*calender*/

.datepicker {
    display: none;
}
 
@media only screen and (max-width:600px){
        .iti_plan1 .fw-bold{
            margin-top: 10%;
            font-size: 30px;
        }
 } 
  
  